/* START GENERAL */
* {
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    list-style-type: none;
    margin: 0;
    padding: 0;
    hyphens: none;
}
html {
    height: 100%;
}
body {
    /* position: relative; */
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: #fff;
    background-color: #C4C3B0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}
/* END GENERAL */

/** START HEADER **/
#header-div {
    background-color: #303340;
    border-radius: 0;
    border: 0;
}  

.container {
    display: grid;
    max-width: none;
}

.logo-img {
    width: 125px;
    height: 125px;
    margin: 25px 0px 25px 50px;
    float: left;
    vertical-align: middle;
    }

h1 {
    margin-top: 60px;
    margin-left: 50px;
    margin-bottom: 30px;
    font-size: 2.5em;
    float: left;
}

ul {
    margin: 0 0 0 0;
    padding: 0;
}

#li-home {
    clear: left;
    margin-left: 5px;
}

.button-left {
    background-color: #606260;
    border: 1px solid black;
    font-size: 1.1em;
    float: left;
    margin-right: 2px;
    margin-bottom: 2px;
    padding: 3px 5px 3px 5px;
}
.button-right {
    background-color: #606260;
    border: 1px solid black;
    font-size: 1.1em;
    float: right;
    margin-right: 5px;
    margin-bottom: 2px;
    padding: 3px 5px 3px 5px;
}

button:hover {
    background-color: #0B0B10;
}
/* END HEADER */

/* START FOOTER */
footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #303340;
    border-radius: 0;
    border: 0;
}
.footer-conntainer {
    display: block;
    max-width: none;
}
.footer-logo-img {
    width: 25px;
    height: 25px;
    margin: 25px 0px 25px 50px;
    float: left;
    vertical-align: middle;
    } 
.footer-left {
    float: left;
    /* font-size: 1em; */
}
.footer-right {
    position: relative;
    float: right;
    margin-top: 25px;
    margin-right: 25px;
}
.h2-footer1 {
    margin-top: 35px;
    margin-left: 25px;
    margin-bottom: 0px;
}
.h2-footer2 {
    margin-top: 50px;
    margin-bottom: 25px;
}
.li-end {
    clear: right;
    margin-right: 30px;
}
/* END FOOTER */

/* LARGE SCREEN */
@media (min-width: 1200px) {
    .logo-img {
        width: 125px;
        height: 125px;
        margin: 25px 0px 25px 50px;
        float: left;
        vertical-align: middle;
        }
    .footer-logo-img {
        width: 85px;
        height: 85px;
        margin: 25px 0px 25px 50px;
        float: left;
        vertical-align: middle;
        }
    h1 {
        margin-top: 60px;
        margin-left: 50px;
        margin-bottom: 30px;
        font-size: 2.5em;
        float: left;
        }
    .button-left {
        background-color: #606260;
        border: 1px solid black;
        font-size: 1.1em;
        float: left;
        margin-right: 2px;
        margin-bottom: 2px;
        padding: 3px 5px 3px 5px;
        }
    .button-right {
        background-color: #606260;
        border: 1px solid black;
        font-size: 1.1em;
        float: right;
        margin-right: 5px;
        margin-bottom: 2px;
        padding: 3px 5px 3px 5px;
        } 
}


/* MEDIUM SCREEN */
@media (min-width: 992px) and (max-width:1199px) {
    /* Start Header */
    .logo-img {
        width: 110px;
        height: 110px;
        margin: 25px 0px 25px 25px;
        float: left;
        vertical-align: middle; 
    }
    h1 {
        margin-top: 50px;
        margin-left: 40px;
        float: left;
        font-size: 2.2em;
    }
    .button-left {
        background-color: #606260;
        border: 1px solid black;
        font-size: 1em;
        float: left;
        margin-right: 2px;
        margin-bottom: 2px;
        padding: 3px 5px 3px 5px;
    }
    .button-right {
        background-color: #606260;
        border: 1px solid black;
        font-size: 1em;
        float: right;
        margin-right: 5px;
        margin-bottom: 2px;
        padding: 3px 5px 3px 5px;
    }
    /* End Header */
    /* Start Footer */
    .footer-logo-img {
        width: 85px;
        height: 85px;
        margin: 25px 0px 25px 50px;
        float: left;
        vertical-align: middle;
        } 
}
    /* End Footer */

/* SMALL SCREEN */
@media (min-width: 768px) and (max-width: 991px) {
     /* Header */
     .logo-img {
        width: 95px;
        height: 95px;
        margin: 20px 0px 20px 25px;
        float: left;
        vertical-align: middle; 
    }
    h1 {
        margin-top: 40px;
        margin-left: 30px;
        float: left;
        font-size: 2em;
    }
    .button-left {
        background-color: #606260;
        border: 1px solid black;
        font-size: 0.9em;
        float: left;
        margin-right: 2px;
        margin-bottom: 2px;
        padding: 3px 5px 3px 5px;
    }
    .button-right {
        background-color: #606260;
        border: 1px solid black;
        font-size: 0.9em;
        float: right;
        margin-right: 5px;
        margin-bottom: 2px;
        padding: 3px 5px 3px 5px;
    }
    /* End Header */
    /* Start Footer */
    .footer-logo-img {
        width: 50px;
        height: 50px;
        margin: 25px 0px 25px 0px;
        float: left;
        vertical-align: middle;
        } 
    .footer-left {
        float: left;
        /* font-size: 1.2em; */
        }
    .footer-right {
        position: relative;
        float: right;
        margin-top: 25px;
        margin-right: 25px;
        }
    .h2-footer1 {
        margin-top: 35px;
        margin-left: 25px;
        margin-bottom: 0px;
        }
    .h2-footer2 {
        margin-top: 50px;
        margin-bottom: 25px;
    }
    /* End Footer */
}

/* EXTRA SMALL SCREEN */
@media (max-width: 767px) {
   /* Header */
   .logo-img {
        width: 75px;
        height: 75px;
        margin: 10px 15px 10px 0px;
        float: right;
        vertical-align: middle; 
    }
    h1 {
        margin-top: 30px;
        margin-right: 20px;
        float: right;
        font-size: 1.5em;
    }
    li{
        text-align: center;
    }
    .button-left {
        background-color: #606260;
        border: 1px solid black;
        font-size: 0.8em;
        float: left;
        margin-right: 2px;
        margin-bottom: 2px;
        padding: 3px 5px 3px 5px;
    }
    .button-right {
        background-color: #606260;
        border: 1px solid black;
        font-size: 0.8em;
        float: left;
        margin-right: 5px;
        margin-bottom: 2px;
        padding: 3px 5px 3px 5px;
    }
    /* End Header */ 
    /* Start Footer */
    .footer-logo-img {
        width: 25px;
        height: 25px;
        margin: 25px 0px 25px 0px;
        float: left;
        vertical-align: middle;
        } 
    .footer-left {
        float: left;
        /* font-size: 1.2em; */
        }
    .footer-right {
        position: relative;
        float: right;
        margin-top: 25px;
        margin-right: 25px;
        }
    .h2-footer1 {
        margin-top: 35px;
        margin-left: 25px;
        margin-bottom: 0px;
        }
    .h2-footer2 {
        margin-top: 50px;
        margin-bottom: 25px;
    /* End Footer */
}

/* SUPER EXTRA SMALL SCREEN */
@media (max-width: 479px) {
    /* Header */
   .logo-img {
        visibility: hidden;
        width: 0;
        height: 0;
        margin: 0;
        vertical-align: middle;
    }
    h1 {
        margin-top: 25px;
        margin-bottom: 25px;
        margin-left: 0;
        font-size: 1.5em;
        text-align: center;
        float: none;
    }
    #li-home {
        clear: left;
        margin-left: 0;
    }
    .li {
        text-align: center;
    }
    .button-left {
        background-color: #606260;
        border: 1px solid black;
        font-size: 1em;
        float: none;
        width: 50%;
        margin-right: 2px;
        margin-bottom: 2px;
        padding: 3px 5px 3px 5px;
    }
    .button-right {
        background-color: #606260;
        border: 1px solid black;
        font-size: 1em;
        float: none;
        width: 50%;
        margin-right: 2px;
        margin-bottom: 5px;
        padding: 3px 5px 3px 5px;
    }
}
/*End Header*/