* {
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    color: #fff;
    background-color: #C4C3B0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

/** HEADER **/
#header-div {
    background-color: #303340;
    border-radius: 0;
    border: 0;
}  
div .container {
max-width: none;
}
.logo-img {
    width: 125px;
    height: 125px;
    margin: 15px 0px 15px 3px;
    float: left;
    vertical-align: middle;
    }
div h1 {
    margin-top: 40px;
    margin-left: 25px;
    float: left;
}
ul {
    margin: 0 0 0 0;
    padding: 0;
    flex-direction: row;
}
.li-left {
    list-style-type: none;
    float: left;
    margin-right: 2px;
}
.li-right {
    list-style-type: none;
    float: right;
    margin-right: 3px;
}
#li-home {
    clear: left;
    margin-left: 3px;
}
button {
    background-color: #606260;
    border: 1px solid black;
    font-size: 1.1em;
}
button:hover {
    background-color: #0B0B10;
}

/*END OF HEADER*/

/* LARGE SCREEN */
@media (min-width: 1200px) {
    .container .logo-img {
        
    }
}